body {
    background: #EEE;
}

.container {
    background: #FFF;
    min-height: 60vh;
    padding: 20px 30px;
}

.display-2 {
    font-size: 28px;
    font-weight: 400;
}
.display-3 {
    font-size: 18px;
    font-weight: 400;
    display: block;
    /* background: #f3f3f3; */
}

.btnBox a, .btnBox button {
    display: inline-block;
    background: #27c9db;
    color: #FFF;
    padding: 10px 20px;
    margin: 0 1% 1% 0;
    text-decoration: none;
    transition: all .15s;
    border: 0;
    font-size: 16px;
}

.btnBox a:hover, .btnBox button:hover {
    background: #0094ba;
    color: #FFF;
}

.btnBox a:focus, .btnBox button:focus {
    outline: none;
    border: none;
    background: #0094ba;
}

.btnBox + h3 {
    margin-top: 3%;
}


.show {
    padding: 20px 0;
}

.show span {
    color: #ff2e6c;
}

.pre-scrollable {
    background: #f5f5f5;
    padding: 2%;
    font-size: 13px;
    color: #888;
}